<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rafael Dias Casabona">
    {{!-- <link rel="icon" href="../../../../favicon.ico"> --}}

    <title>Ambientes / Smart House</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Smart House</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/api/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/panel">
                                <span data-feather="home"></span>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/panel">
                                <span data-feather="bar-chart-2"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/ambientes">
                                <span data-feather="layers"></span>
                                Ambientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/reports">
                                <span data-feather="file"></span>
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>



            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {{!-- Caminho de pão --}}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Ambientes</li>
                    </ol>
                </nav>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Ambientes</h1>
                    {{!-- <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div> --}}
                </div>


                <div class="list-group">
                    <a href="/admin/ambientes/controle-da-sala" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Controles da Sala</h5>
                            <small>Ultima atualização 2 min(s)</small>
                        </div>
                        <p class="mb-1">Luzes da Sanca, Controle de Televisão, Controle de Rádio</p>
                        {{!--
                        <small>Donec id elit non mi porta.</small> --}}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Controles da Piscina</h5>
                            <small class="text-muted">Ultima atualização 1 dia(s)</small>
                        </div>
                        <p class="mb-1">Neon Interno da Piscina, Luzes Laterais da Piscina</p>
                        {{!--
                        <small class="text-muted">Donec id elit non mi porta.</small> --}}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Controles da Churrasqueira</h5>
                            <small class="text-muted">Ultima atualização 1 dia(s)</small>
                        </div>
                        <p class="mb-1">Controle da Luz Interna da Churrasqueira, Controles das Luzes da Mesa</p>
                        {{!--
                        <small class="text-muted">Donec id elit non mi porta.</small> --}}
                    </a>
                </div>


            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> {{!--
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script> --}}
</body>

</html>